/*饼图的配置*/
.highcharts-container {
	left:0px,
	right:0px
} 
label.control-label{
	text-align:left!important;
	letter-spacing:4px;
}

/*创建或修改任务时的错误信息展示*/
.help-block{
    display: table-row;
    margin-top: 0;
    margin-bottom: 0;
    color: #cd2322;
    font-size: 9px;
}
/*个人中心信息栏，一栏的div*/
.center-info{
	padding-bottom:10px;
}
/*个人中心的保存修改按钮div的样式*/
.center-save-div{
	padding-left:8px;
}


